include README.md
include LICENSE
include requirements.txt
recursive-include src/onomatool *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * .DS_Store